aiohttp==3.1.3
asn1crypto==0.24.0
astroid==1.6.2
async-timeout==2.0.1
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
backcall==0.1.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
constantly==15.1.0
cryptography==2.2.2
dateparser==0.7.0
decorator==4.2.1
DictObject==0.1.3
enum34==1.1.6
Events==0.3
future==0.16.0
hyperlink==18.0.0
idna==2.6
idna-ssl==1.0.1
incremental==17.5.0
ipykernel==4.8.2
ipython==6.3.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.11.1
jupyter-client==5.2.3
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
luckydonald-utils==0.57
mccabe==0.6.1
multidict==4.1.0
parso==0.1.1
pickleshare==0.7.4
pip==9.0.3
prompt-toolkit==1.0.15
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
Pygments==2.7.4
pylint==1.8.3
pyOpenSSL==17.5.0
pytg==0.4.10
python-binance-api==1.1.0
python-dateutil==2.7.2
python-telegram-bot==10.0.1
pytz==2018.3
pyzmq==17.0.0
regex==2018.2.21
requests==2.18.4
service-identity==17.0.0
setuptools==39.0.1
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
SQLAlchemy==1.2.6
telepot==12.6
tornado==5.0.1
traitlets==4.3.2
txaio==2.9.0
tzlocal==1.5.1
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.47.0
wrapt==1.10.11
yarl==1.1.1
zope.interface==4.4.3
